body {
    background: transparent;
    font-family: opensans_light;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    //font-family: opensans_light;
    @media (min-width: $screen-sm) {}
}

h1 {
    @media (min-width: $screen-sm) {}
}

p,
label,
input {
    display: block;
}

a {
    color: $color--dark-grey--greyed-out;
    text-decoration: none;
    &:hover {
        color: $color--dark-grey--greyed-out;
    }
}

a:hover,
a:focus {
    text-decoration: none;
}

ul,
ol {
    li {
        color: grey;
    }
}

button.btn {
    @include radius(3px);
    text-transform: capitalize;
    i:before {
        margin: 0px 10px 0px 10px;
    }
}

table {
    color: grey;
    thead,
    tfoot {
        display: inline-grid;
    }
    th,
    td {
        display: inline-grid;
    }
}

img {
    &.responsive-img {
        @include responsive-image;
    }
}

hr {
    width: 100%;
}

label {
    display: inline-block;
}

.select {
    position: relative;
    z-index: 0;
    -webkit-appearance: none;
    &:before,
    &:after {
        content: '\232A';
        position: absolute;
        display: block;
        width: 25px;
        height: 25px;
        top: 32px;
        right: 4px;
        z-index: 1;
        border-radius: 100%;
        padding: 1px 3px 3px 7px;
    }
}

textarea {
    width: 100%;
}

input[type='range'] {
    border: 0px;
    -webkit-appearance: none;
    height: 4px;
}

button,
a {
    display: block;
}

section {
    display: block;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
    clear: both;
    float: left;
    width: 100%;
}