    /** bootstrap override **/
        
        .navbar {
            margin: 0px;
            border: none;
            z-index: 999;
            
            .navbar-collapse {
                @media (max-width: $screen-sm-min) {
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 100%;
                    width: 100%;
                    z-index: 999;
                    margin: auto;
                    background-color: $color--black;
                    @include transition(left, ease-out, 0.2s);
                    .open {
                        left: 0px;
                    }
                }
                .navbar-nav {
                    @media (max-width: $screen-sm) {
                        width: 90%;
                    }
                    position: initial;
                    li.dropdown:hover>ul.dropdown-menu,
                    li.dropdown:hover>div.dropdown-menu {
                        @media (min-width: $screen-sm) {
                            //display: block;
                            @include show-object;
                        }
                    }
                    li {
                        a {
                            @media (min-width: $screen-sm) {
                                padding-top: 30px;
                                padding-bottom: 30px;
                            }
                        }
                        &.dropdown {
                            ul.dropdown-menu,
                            div.dropdown-menu { 
                                @media (min-width: $screen-sm) {
                                    width: auto;
                                    @include hide-object();
                                    display: block;
                                }
                                width: 100%;
                                @include transition(all, ease-in, 0.2);
                                content: '';
                                position: absolute;
                                @include shadow(0px, 0px, 0px, $color-grey--wash-alt);
                                border-radius: 0px; 
                                @include transition(all, ease-in, 0.2s);

                                a {
                                    padding-top: 15px;
                                    padding-bottom: 15px;
                                }
                            }
                        }
                        div.dropdown-menu {
                            .dropdown-cont {
                                padding: 0px 20px 10px;
                            }
                        }
                    }
                }
                li.dropdown.dropdown--fullwidth {
                    position: initial;

                    ul.dropdown-menu,
                    div.dropdown-menu { 
                        position: initial;
                        @media (min-width: $screen-sm) {
                            position: absolute;
                        }
                        width: 100%;
                    }
                }
            } 
        
        .navbar-header {
            margin-right: 0px;
            margin-left: 0px;
            left: 0px;
            position: absolute;
            top: 0px;
            width: 100%;
            //@media (min-width: $screen-sm) {
            @include transition(all, ease-out, 0.2s);
            //}
            @media (min-width: $screen-sm) {
                left: 0 !important;
            }
            .navbar-toggle {
                padding: 8px 8px;
                margin-top: 9px;
                background: $color--black;
                &.collapsed {}
                .icon-bar {
                    background: white;
                }
            }
            .navbar-brand {
                max-width: 150px;
                width: auto;
                display: inline-block;
                position: relative;
                @media (min-width: $screen-sm) {
                    margin: 14px 0px 12px -15px;
                    //margin: 12px 26px
                }
                img {
                    @include responsive-image;
                }
            }
        }
    }