.modules-list {
  clear: both;

  li {
    a {
      i {
        margin-right: 10px;
      }
    }
  }
}

.scrollTop--cont {
  width: 100%;
  position: fixed;
  bottom: -1px;
  z-index: 9999;
  display: block;

  .scrollTop {
    @include opacity(1);
    display: block;
    margin: auto;
    @include transition(all, ease-out, 0.5s);
  }
}

.contact-container {
  input.text,
  input[type=text] {
    width: 100%;
    margin-bottom: 15px;
    @media (min-width: $screen-sm) {
      margin-bottom: 0;
    }
  }

  button[type=submit],
  input[type=submit] {
    border-radius: 0;
    width: 100%;
    margin: 0;
    @media (min-width: $screen-sm) {
      margin: 20px 0 0;
    }
  }

  .contact-list {
    background-color: $color-reddish-grey--wash;
    margin: 0;
    float: left;
    width: 100%;
    overflow: hidden;

    &__head {
      background-color: grey;
      color: white;
    }

    &__item {
      label {
        display: inherit;
      }

      td {
        padding: 10px 20px;
      }
    }
  }
}

.features {
  min-height: 194px!important;
  background-repeat: no-repeat;
  background-attachment: initial;
  background-size: 100% 200px;
  background-position: 0 0;
  @media (min-width: $screen-sm) {
    min-height: 450px !important;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-position: 43% 0;
  }
}

.social-links {
  margin: 0 0 20px;
  padding: 0;
  list-style: none;
  display: inline-block;

  &__item {
    color: grey;
    width: 30px;
    height: 30px;
    display: block;
    position: relative;
    margin-right: 10px;
    display: inline-block;

    &:last-child {
      margin-right: 0;
    }

    a {
      padding: 5px 0 0 8px;
      @include radius(100%);
      display: block;
      width: 100%;
      height: 100%;
      float: left;
      background: white;

      i {
        color: $color--grey;
      }
    }
  }
}

$permit-height: 400px;

.intro {
  background-color: #e4e4e4;
  min-height: 200px !important;

  &__snippet {
    //color: white;
    position: relative;
    text-align: center;
    padding: 0 10%;
    @media (min-width: $screen-sm) {
      padding: 0 0;
    }

    .btn {
      background: none;
      //color: white;
    }

    &__icon {
      display: none;
      position: absolute;
      left: -20px;
      top: 20%;
      padding: 0 10px;
      @include font-size(8);
    }

    h2 {
      text-transform: capitalize;
    }
  }
}

.banner {
  float: left;
  clear: both;
  min-height: 670px;
  display: block;
  width: 100%;
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: 43% 0; 
  @media (min-width: $screen-sm) {
    background-attachment: fixed;
    background-position: center;
  }

  h1,
  h2 {
    color: $color--white;
    text-align: center;
    //text-transform: uppercase;
  }

  h1 {
    margin: 60px 0 0;
    @include font-size(6);
    font-weight: bold;
    @media (min-width: $screen-sm) {
       @include font-size(7);
    }
  }

  h2 {
    line-height: 30px;
    @include font-size(1.6);
    @media (min-width: $screen-sm) {
       @include font-size(2);
      line-height: initial;
    }
    @include opacity(0.8);
  }

  button {
    background-color: transparent;
    border-color: #eee;
    @include font-size(2);
    text-transform: inherit;
  }

  .video-container {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 50px 0;
    @media (min-width: $screen-sm) {
      padding: 40px 0px 0px;
    }

    .video {
      position: absolute;

      video {
        left: -200px;
        width: 1000px;
        @media (min-width: $screen-sm) {
          left: 0;
          width: 980px;
        }
        @media (min-width: $screen-md) {
          width: 100%;
        }
      }
    }
  }

  .header-cont {
    margin: 50px auto 36px;
    display: table;
    text-align: center;
    position: relative;
    margin: 0 auto;
    padding: 0 5%;
    height: 100%;
    width: 100%;
    @media (min-width: $screen-sm) {
      width: 80%;
    }

    &__inner {
      display: table-cell;
      vertical-align: middle;
    }
  }

  .button-cont {
    text-align: center;
    margin: 0;
    @media (min-width: $screen-sm) {
      margin: 40px;
    }
    display: inline-block;
    padding: 10px 36px;

    button {
      margin-left: 15px;
      margin-right: 15px;
      padding: 10px 26px;
      width: 200px;
      margin-bottom: 20px;
      @media(min-width: $screen-sm) {
        width: auto;
      }
    }
  }
}
